/*  your css code here. If applicable */
*{
	box-sizing:border-box;
}
body{
	background:#f8f8f8;
}
.book-library{
	background:#ffffff;
	width:300px;
}
.book{
	width:200px;
	margin:5px auto;
	
}
h2{
	background#777777;
}
.price-block{
	color: #2ecc71;
/* 	width:100%; */
	height:30px;
/* 	margin:0 10px; */
}
h1{
	text-align:center;
}