/*  your css code here. If applicable */
*{
	box-sizing:border-box;
}
body{
	background:#f8f8f8;
}
.book-library{
	background:#ffffff;
	width:300px;
}
.book{
	width:200px;
	margin:5px auto;
	
}
h2{
	background#777777;
}
.price-block{
	background-color: rgb(46, 204, 113);
	color:rgb(255, 255, 255);
	text-align:center;
	height:30px;
}
h1{
	text-align:center;
}